body{
 
	background-color: rgba(0,0,0,0.5) !important;
	background-position: cover;
	background-repeat: no-repeat;
	width: 100%; height: 100%;
	display: block;
}
.body{
	text-align: center;
	align-content: center;
}
.box-title{
	text-align: center;
}
.font-white{
	color: rgba(255,255,255,0.7);
}
.logoc, .logod{
	 text-align: center;
}
/* ============================= = =*/
/* THIS IS FOR MOBILE RESPONSIVE    */
/* ============================= = =*/
@media screen and (max-width: 400px){
	
	.logod embed{ }
	.logoc{ }
}